@import "tailwindcss";

/* body {
    background-color: #faf9f7;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    padding: 60px;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.button {
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.button-primary {
    background-color: #192f44;
    color: white;
}
.button-secondary {
    background-color: transparent;
    color: #192f44;
    border: 1px solid #192f44;
}

h1 {
    font-size: 70px;
    margin: 0;
}
.subtitle {
    font-size: 30px;
    font-weight: 300;
} */
